<div class="container">

  <header>
    <div class="bg-body-tertiary text-center border m-2">
      <div class="my-2" style="max-width:30rem; margin:auto">
        <img src="assets/pokemon-icon.png" alt="Pokemon">
        <h1> Pokemon League</h1>
        <p>Explore performances statistics from the latest Pokemon tournament. Sort by differents metrics to see who's
          leading the competion</p>
      </div>
    </div>
  </header>
  <app-select-header (onFetch)="fetchPokemon($event)"></app-select-header>

  <app-pokemons-list [pokemons]="(pokemon$ | async) ?? []"></app-pokemons-list>


</div>